
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #fdf17b;
	--color-text-alt: #8bff85;
	--color-text-grid: #fff;
	--color-bg: #000;
	--color-link: #54ad8a;
	--color-link-hover: #a054fd;
	--cut: 20px;
}

body{
	background: var(--color-bg) url('src/components/statichtml/img/bg.jpg') no-repeat 50% 50% fixed;
}

.crew-page, .loading{

	margin: 0;
	color: var(--color-text);
	background-size: cover;
	font-family: "iki-mono-variable", sans-serif;
	font-variation-settings: "wdth" 80, "wght" 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: underline;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
	text-decoration: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:not(.card__image):focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:not(.card__image):focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:not(.card__image):focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	z-index: 100;
	position: relative;
	padding: 2vw;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: 'title title' 'prev back' 'credits credits' 'sponsor sponsor' ;
	grid-gap: 1rem;
	pointer-events: none;
}

#cdawrap {
    justify-self: start;
}

.frame a {
	pointer-events: auto;
}

.frame__title {
	grid-area: title;
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
}

.frame__credits {
	grid-area: credits;
}

.frame__back {
	grid-area: back;
	justify-self: start;
}

.frame__prev {
	grid-area: prev;
	justify-self: start;
}

.frame__demos {
	grid-area: demos;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	align-self: start;
	flex-wrap: wrap;
}

.frame__demos-item:not(:first-child) {
	width: 2rem;
	display: block;
	flex: none;
	border-radius: 10px;
	aspect-ratio: 1;
	border: 1px solid var(--color-link-hover);
	display: grid;
	place-items: center;
}

span.frame__demos-item:not(:first-child) {
	border-color: #fff;
}

.grid {
	display: grid;
	position: relative;
  justify-content: center;
	/* width: min-content; */
	margin: 0 0 30vh auto;
	padding: 13vw 10vh 3vh 3vh;
	grid-template-columns: 300px;
	grid-auto-rows: 300px;
	gap: 1rem;
	z-index: 200;
	color: var(--color-text-grid);
}

.grid__title {
	text-transform: uppercase;
	font-size: 65px;
	line-height: 0.8;
	opacity: 0.4;
  	margin: 40px ;
	font-family: "tt-autonomous", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 0.8;
	background-color: #fff;
	background-image: linear-gradient(45deg, #fdf17b, #54ad8a, #a054fd);
	/* background-size: 100%; */
	background-repeat: repeat;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.card {
	aspect-ratio: 1;
	overflow: hidden;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
	gap: 0.5rem;
	padding: 0.5rem;
	grid-template-areas: 'box-a box-b' 'box-c box-d';
	cursor: pointer;
}

.card__img {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	will-change: filter, transform;
}

[data-effect="hover-2"] .card__img {
	transform: scale3d(1.3,1.3,1.3);
}

[data-effect="hover-3"] .card__img {
	transform: scale3d(1.2,1.2,1.2);
}

.hello{
	/* display: none; */
	position: absolute;
	bottom: 0;
	color:white;
	z-index: 1;
}

.card-img:hover{
	
	.hello{
		display: block;
	}

}

.card {
	aspect-ratio: 1;
	overflow: hidden;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.5rem;
	padding: 0.5rem;
	grid-template-areas: 'box-a box-b' 'box-c box-d';
	cursor: pointer;
  }

  /* .dept{
	border:1px solid red;
	font-size: 44px;
	display: grid;
	place-items: center;
  } */
  
  .card__img {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	/* background-image: url('src/components/statichtml/img/3.jpg'); */
	will-change: filter, transform;
  }
  
  .hello {
	/* Initial state */
	transform: translateY(100%);
	opacity: 0;
	transition: transform 0.5s, opacity 0.5s;
	position: absolute;
	bottom: 0;
	color: white;
	z-index: 1;
	
	background-color: rgba(22, 20, 20, 0.566);
	border-radius: 25% 25% 0 0;
	padding-top: 20px;
	/* font-style:italic; */
	letter-spacing: 2px;
	font-weight: 700;
	font-family: "Inter";
	/* font-size: larger; */
	height: 120px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
  }
  
  .card:hover .hello {
	transform: translateY(0);
	opacity: 1;
  }

  .card:hover .card__img {
	filter:blur(1.5px);
  }
  

@media screen and (min-width: 768px) {
	
	.frame {
		position: fixed;
		bottom: 0;
	}
	.grid__title {
		position: absolute;
		top: 0;
		/* left: -13vw; */
	}
	.grid {
		grid-template-columns: repeat(2,300px);
	}
}